body {
    font-family: 'Otomanopee One', sans-serif;
}
h1{font-size: 25px;
    color: orange;
}
.green-color{
    color: green;
}
section{
    display: flex;
}
.width-split{
    width: 50%;
    padding: 10%;
}
.width-split img{width: 80%;
}
p{
    font-size: 12px;
}
.order-button{
    
    background-image: linear-gradient(green, gold);
    text-decoration: none;
    padding: 10px 30px;
    font-size: large;
    border-radius: 10px;
    color: red;
}
.contact-button{
    text-decoration: none;
    background-image: linear-gradient(green, gold);
    border-radius: 10px;
    padding: 10px 27px;
    color: red;
    margin-top: 30px;
}
.about-us{
    background-image: url(food-network-main/images/shapes/Frame\ 57.jpg);

}